0-getppid.c
address.c
a.out
arg
av.c
c
d
execve
execve.c
file_information.c
filePath.c
folkWaitExec
folkWaitExecve.c
getline.c
listFiles.c
listFiles.o
main_env.c
parentPid
path_0.1.c
path_0.2.c
path.c
path_linkedList.c
printenv.c
processID.sh
prompt
read_line.c
setenv.c
shell
shell_0.4.c
shell_0.5.c
shell_0.6.c
shellEx.c
simpleShell.c
strtok.c
unsetenv.c
which.c
